/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
 
/*Para Telas PEQUENAS*/

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
 }

body.escuro {
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso:#333333;
  --destaque:#ff5522;
  --destaque-inverso:#a73917;
  --fundo-card:#444444;
}

body {
  background-color: var(--fundo-principal);
  color: var(--texto);
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}
/*Configurções Gerais*/

i, h1{
  color: var(--destaque);
}

h1 {
  padding: 15px 0px;
  font-size: 1.6em;
}

p {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
/*Menu*/
nav {
  display: flex;
  background-color: var(--destaque);
  width: 100%;
  height: 45px;
  justify-content: right;
  align-items: center;
  padding-right: 15px;
  
  position: fixed;
}

nav i {
  color: white;
  margin: 0px 10px;
  
}

nav div  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
}

#conteudo-total {
  display: grid;
  width: 97vw;
  grid-template-columns: 50px 1fr  50px;
  grid-template-rows: auto auto;
  row-gap: 25px;
}


/*foto do perfil*/
.foto-perfil {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
  border: 5px solid var(--destaque);
  justify-content: center;
  margin: 0px auto 0px auto;
  
}

#ficha {
  background-color: var(--fundo-card);
  grid-row: 1 / 2;
  grid-column: 2 / -2 ;
  display: block;
  margin: auto;
  
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#ficha h1 , #ficha p {
  display: block;
  margin: auto;
  width: auto;
}

#ficha h1 {
  text-align: center;
}

#ficha p {
  max-width: 50vw;
}

#ficha::-webkit-scrollbar {
    display: none;
}

/*Icones Rede Sociais*/
#social {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#social i {
  font-size: 1.6em;
  margin: 0px 5px;
}
/*Conteudo do Site*/
#conteudo {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
  background-color: var(--fundo-card);
  padding: 10px;
  border-radius: 10px;
}

#conteudo::-webkit-scrollbar {
    display: none;
}

iframe {
  border-radius: 10px;
  width:100%;
  height:50vw;
}

/*Habilidades (Minhas Skills)*/

#skills h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:600; 
  padding-top: 20px;
  padding-bottom: 2px;
}
/*Tamanho da fonte do nome de cada skill*/
.nome {
  font-size: 1.2em;
}

#skills i {
 color: var(--texto);
 font-weight: 600;
}

span {
  display: flex;
  justify-content: space-between;
}
/*porcentagem de cada skill*/
.porcentagem {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--destaque);
}

.habilidades {
  background-color: var(--destaque-inverso);
  height: 10px;
  border-radius: 15px; 
}
/*Tamanho da barra das habilidades*/
div#hhtml5  {
  width: 90%;
}
div#hcss3 {
  width: 80%;
}
div#hjavascript {
  width: 75%;
}
div#hphp {
  width: 60%;
}
div#hcomunicaçao {
  width: 100%;
}
div#htrabalho-em-equipe {
  width: 90%;
}
div#hadaptabilidade {
  width: 85%;
}
div#hliderança {
  width: 80%;
}
/*Formação*/

.title-formaçao {
  margin-top: 50px;
}

.cursos {
  margin:15px;
  padding-left: 0px;
  border-left: 5px solid var(--destaque-inverso);
  border-radius: 8px;
  cursor:pointer;
  transition: border-width 0.5s, border-color 0.5s;
  
}

.cursos:hover {
  border-left-width: 15px;
  box-shadow: black;
  border-color: var(--destaque);
}

.-cursos-datas {
  font-weight: bold;
  font-size: 0.9em;
  padding-top: 5px;
}

.cursos h3 {
  color: var(--destaque-inverso);
}

.-curso-texto {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding-bottom: 5px;
}

.conteudo-cursos {
  background-color: var(--fundo-principal);
  border-radius: 5px 10px 10px 5px; 
  padding-left: 5px;
}

/*Projetos*/

#projetos > div {
  width: 100%;
  height: auto;
  background-color: var(--fundo-principal);
  margin: 15px 0px;
  border-radius: 5px;
  border-left: 5px solid var(--destaque-inverso);
  transition: 0.5s;
}

#projetos > div:hover {
  border-left-width:15px;
  border-color: var(--destaque);
  cursor: pointer;
}

#projetos > div > details > p {
  padding-top: 5px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  width: 98%;
  display: block;
  margin: auto;
}


#projetos div > img,#projetos div p,#projetos div h3, #projetos div summary {
  padding: 0px 10px;
}

#projetos h3 {
  font-size: 1.3em;
}

summary {
  padding-bottom: 15px;
}

details {
  padding-bottom: 5px;
}

div.img-projeto {
  display: flex;
}

#projetos div.img-projeto img {
  padding-top: 10px;
  width: 100%;
  border-radius: 20px;
}


footer {
  display: block;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  
  background-color: var(--destaque);
  color: var(--texto);
  padding: 0px 70px;
}

footer p {
  text-align: center;
  font-size: 1em;
}

/*Hover e Links*/

 footer a {
  color: white;
 }

 a {
  font-weight: bold;
  text-decoration: none;
}

 a:hover {
  color: var(--destaque-inverso);
}

#conteudo-total i:hover {
  color: var(--destaque-inverso);
  transition: 0.2s;
}

nav > div > a > i:hover {
  color: var(--destaque);
  transition: 0.2s;
}

nav div:hover {
  background-color: var(--destaque-inverso);
  border-radius: 5px;
  transition: 0.2s;
}


@media screen and (max-width:768px) {
  #ficha {
    margin-top: 70px;
  }
}